{% extends 'team6/base.html' %}
{% load static %}

{% block content %}
<div class="container py-5 text-center">
    <h2 class="mb-4">E-CARD</h2>
    <div class="mb-3">
        <span id="side-badge" class="badge bg-dark p-2">接続中...</span>
    </div>
    
    <div id="status-msg" class="alert alert-info">相手を待っています...</div>

    <div id="my-cards" class="d-flex justify-content-center gap-3 my-5">
        </div>

    <input type="hidden" id="my-username" value="{{ user.username }}">
</div>
<div id="room-name-data" style="display:none;">{{ room_name }}</div>
<script src="{% static 'js/game2.js' %}"></script>
{% endblock %}