{% extends 'team6/base.html' %}
{% block content %}
<div class="container text-center">
    <h2>E-CARD対戦</h2>
    <div id="opponent-cards" class="mb-5">
        </div>
    <div id="status" class="alert alert-info">カードを選んでください</div>
    <div id="my-cards" class="d-flex justify-content-center gap-2">
        <div class="card p-3" onclick="selectCard('E')">皇帝</div>
        <div class="card p-3" onclick="selectCard('C')">市民</div>
        </div>
</div>
<script src="{% static 'js/game2.js' %}"></script>
{% endblock %}